@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    margin: 0;
    font-family: 'Arial';
    
}
.header1{
    background: rgb(208,59,80);
    background: linear-gradient(90deg, rgba(208,59,80,1) 0%, rgba(191,84,201,1) 50%, rgba(68,111,187,1) 100%);  
    display: flex;
    color: white;
    height: 8rem;
    box-shadow: 0 -4px 10px 5px rgba(0,0,0,0.5);
}
.titulo{
    margin-left: 2rem;
    margin-top: 2.8rem;
    font-family: 'Indie Flower';
}
.principal {
    text-align: center;
    margin: 20px;
  }
  #valora,
  #valorb {
    width: 150px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #operacao {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #btn {
    background-color: #8800ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .result {
    text-align: center;
    margin: 20px;
  }
  #resultado {
    font-size: 1.5rem;
  }
